<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">🍀 Sass Test</a>
      
    </div>
    <nav>
      <ul>
        <li><a href="#h">Home</a>
         
        <li><a>About Us</a>
          <ul>
            <li><a href="#1">Information</a></li>
            <li><a href="#2">School Profile</a></li>
            <li><a href="#3">Attendance</a></li>
            <li><a href="#4">Announcements</a></li>
            <li><a href="#5">Contact Us</a></li>
          </ul>
        </li>
        <li><a href="#a">Academics</a></li></ul>
    
    </nav>
  </div>
</section>
