<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">🍀 Sass Test</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Shop</a></li>
        <li [matMenuTriggerFor]="services">
          <a>Services</a>
          <mat-menu #services="matMenu">
            <button mat-menu-item>Fishes</button>
            <button mat-menu-item>Amphibians</button>
            <button mat-menu-item>Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
          </mat-menu>
        </li>
        <li><a href="#!">About Us</a></li>
        <li><a href="#!">Contact</a></li>
      </ul>
    </nav>
  </div>
</section>
