$primary-color: #90e7b9 ;
$secondary-color: #39EC64  ;
$background-color: #10012c;
$text-color: #D6EC39 ;
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: rgba(255, 255, 255, 0.4);
$nav-font-color: #ffffff;
$link-hover-color: #f8b500;
$nav-color: #fcfcfc;
$nav-drop-color: #000000;
$line-height: 2em;
$nav-padding: .75em;
$a-hover: #000000;
$b-radius: (
    "small" : 5px,
    "medium" : 10px,
    "large" : 15px
)