<app-navbar></app-navbar>
<div class="main">
    <h1>This is a text title 1.</h1>
    <p class="main__paragraph1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odit, numquam modi optio obcaecati cupiditate harum nihil hic magnam quasi delectus est suscipit, eaque, dignissimos sit quis tempore consequuntur. Vero qui ipsa nam quam repellendus vel, commodi animi soluta cum perferendis totam, obcaecati voluptas! Consectetur repudiandae labore ex! Harum, tempore?</p>
</div>
<div class="main">
    <h1>This is a text title 1.</h1>
    <p class="main__paragraph2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odit, numquam modi optio obcaecati cupiditate harum nihil hic magnam quasi delectus est suscipit, eaque, dignissimos sit quis tempore consequuntur. Vero qui ipsa nam quam repellendus vel, commodi animi soluta cum perferendis totam, obcaecati voluptas! Consectetur repudiandae labore ex! Harum, tempore?</p>
</div>