/* You can add global styles to this file, and also import other style files */
@import 'resetter';
@import 'fontimports';
@import 'variables';    
@import 'functions';
@import 'mixins';

body {
    font-family: Poppins;
    background: $background-color;
    color: $primary-color;
    font-weight: weight(regular);
    @include flexCenter(both);
}
